<!DOCTYPE html>
<html lang="en">
<head>
	<title>Wookie Translator</title>
	<meta name="description" content="Chewy Translations">
	<meta name="keywords" content="ughhughhug,hhhaaraarrruughh,warrhhghhh,auuughhhahhhrwwwaaa">
	<meta name="author" content="Kevando">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta property="og:title" content="Wookie Translator" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://www.wookietranslator.com" />
	<meta property="og:description" content="Chewy Translations" />
	<meta property="og:image" content="http://www.wookietranslator.com/img/wookie.png" />
	<meta name="viewport" content="width=device-width, user-scalable=no" />
 	<link rel="image_src" type="image/png" src="/img/chew-btn.png">
	<link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
	<link href="/css/wookie.css" rel="stylesheet" media="screen">
	<link href='http://fonts.googleapis.com/css?family=Amatic+SC:700' rel='stylesheet' type='text/css'>	
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-36085839-1']);
	  _gaq.push(['_trackPageview']);
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
	<!-- Preload Images -->
	<script type="text/javascript">
	if (document.images) {
	    img1 = new Image();
	    img1.src = "/img/chew-btn-active.png";
	    img2 = new Image();
	    img2.src = "/img/chew-btn.png";
	}
	

	</script>
	
</head>
<body>
	<a onClick="_gaq.push(['_trackEvent', 'wookington header', 'Click', 'stay up to date']);" class="wookington-header" id="wookington" href="https://instagram.com/wookingtonchew" target="_blank">
		<h4><span>WOOKINGTON CHEW</span> Stay up to date on latest wookie news</h4>
	</a>

	<div class='container'>
		<div class='wrapper-header'>
		  <h1><a href='/'>Wookie Translator</a></h1>
		  <h3>A simple tool that helps you talk with Wookies.</h3>
		</div>
		<div class='wrapper-input'>
        	{% block form %}input{% endblock %}
		</div>
		<div class='wrapper-translated'>
		  {% block translate %}{% endblock %}
		</div>
		<div class='wrapper-share'>
		  {% block share %}{% endblock %}
		</div>
		
	</div>

	
	
	
	
	
	
	
</body>
</html>