{% extends "base.html" %}


{% block form %}
  <fieldset>
    <input placeholder="{{ placeholder }}" name="phrase" disabled="disabled" class="phrase" style="width:255px;">
    <button class="btn btn-large btn-primary" type="submit">Translate</button>
  </fieldset>
{% endblock %}


{% block translate %}
  <div class='translation span12' style='display:none'>
   <p> {{ translation }} </p>
  </div>

<script>
    $("button").click(function () {
	    $(".translation").show();
	    $(".share").show();
    });
</script>

{% endblock %}



{% block share %}

<a class='share' style='display:none' href='/'>Make your own!</a>
{% endblock %}




