{% extends "base.html" %}

{% block form %}
  <form method="post" id="translate">
	<fieldset>
      <input placeholder="{{ placeholder }}" name="phrase" class='phrase'>
      <button class="chew-btn chew-btn-active" type="submit" onclick="onTranslateSubmit();"></button>
    </fieldset>
  </form>

<script>
// Validate
$('#translate').submit(function() {
  if($('.phrase').val() == ''){
	   $('.phrase').addClass('invalid-input');
     analytics.track('Response', {category: 'Error',label: 'Empty input form on Translation Page'});
    return false;
  }
});


function onTranslateSubmit() {
  analytics.track('Click Translate button', {category: 'Main Page',label: 'nth page', value: {{ totalTranslations }} }); // legacy
  analytics.track('Click', {category: 'Translate', label: 'Total Translations: ' + {{ totalTranslations }} });
  analytics.page({title: 'Funnel: Translate',path: '/funnel/translate/{{ totalTranslations }}',});
}

</script>
{% endblock %}


{% block translate %}
 <p><strong>Wookie Translation:</strong> {{ translation }} </p>
{% endblock %}

{% block banner %}
  <a id="BannerAd" href="https://twitter.com/Wookingtonchew" target="_blank" onClick="analytics.track('Banner Clicked', {category: 'Translated Page',label: 'Skinny V1'});"><img style="margin-top: 20px;" src="/img/chewy_banner_ad2.jpg" width="600" /></a>
  <!-- Only show banner for 40% of traffic -->
  <script>
  // var rando = Math.floor(Math.random() * 10);
  var rando = 0; // Forcing banner to not show until I figure out what people think about public translations
  if(rando < 6) {
    $('#BannerAd').hide();
  }
  </script>
{% endblock %}


{% block share %}

  <script src='http://connect.facebook.net/en_US/all.js'></script>
  <script>

    // Initializing FB SDK opens up lots of possibilities
    FB.init({appId: "45549182362", status: true, cookie: true});

    function postToFeed() {

      analytics.track('Share', {category: 'Translated Page',label: 'Facebook'});
      analytics.track('Click', {category: 'Social',label: 'Facebook Share Button', value: {{ totalTranslations }} });
      analytics.page({title: 'Funnel: Clicked Social',path: '/funnel/social/facebook/clicked'});

      // calling the API ...
      var obj = {
        method: 'feed',
        redirect_uri: 'http://www.wookietranslator.com',
        link: 'http://www.wookietranslator.com/uughghhhgh/{{ translationId }}',
        name: 'uughghhhgh',
        caption: 'uughgggghh',
  		  picture: 'http://www.wookietranslator.com/img/og.png',
        description: 'uughghhhgh uughghhhgh Wadu Hek'
      };

      function callback(response) {
        console.log('callback',response)
        if(!response) {
          // console.log('user probly cancelled posting to fb')
          analytics.track('Response', {category: 'API',label: 'Facebook Share Cancelled'});

        } else {
          analytics.track('Response', {category: 'API',label: 'Facebook Share Success'});
          analytics.track('Shared', {category: 'Facebook',label: '{{ translationId }}'});
          analytics.page({title: 'Funnel: Clicked Social',path: '/funnel/social/facebook/shared'});
        }
      }
      FB.ui(obj, callback);
    }

  </script>

<style>
.public-btn {
  border: solid 1px black;
    background-repeat: no-repeat;
    color: white;
    text-decoration: none;
    background-color: white;
    padding: 8px 17px;
    font: 100 13px system-ui;
    background-color: #2E933C;
    border-radius: 3px;
    }
  </style>

<p style="margin-top:0" class='share-active' >
<span class='share-text'>Share <b><i>your</i></b> translation!</span>
</p>

<p class='social-share share-active' >

  <a class="twitter-share-button"
    href="https://twitter.com/intent/tweet?text=Check%20out%20what%20I%20just%20discovered&url=http://www.wookietranslator.com/uughghhhgh/{{ translationId }}"
    data-size="large">
  Tweet</a>
  <a href="javascript:void(0);" onClick="postToFeed();"><img src="/img/fb_share.png" style="margin-left:30px;"/></a>
</p>

<p style="margin-top:30px;">
<a class="public-btn" href="javascript:void(0);" onclick="shareMyTranslation();">Share my translation</a>
</p>

  <script type="text/javascript">

  if("{{ translationsPublic }}" == "True") {
    $('.share-active').css({opacity: 1.0});
    $('.public-btn').hide();
  } else {
    $('.share-active').css({opacity: 0});
  }

  function shareMyTranslation() {

    $('.share-active').css({opacity: 1.0});
    $('.public-btn').fadeOut(100);

    // set session variable
    var data = {sessionData: {sharedTranslation: true}}
    $.post("/ss", data, function(data, status){
        console.log("Data: " + data + "\nStatus: " + status);
    });

    analytics.track('Click', {category: 'Button',label: 'Share my translation'});
    analytics.page({title: 'Funnel: Share',path: '/funnel/share'});
  }


    // TWITTER API

    window.twttr = (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
      t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);

    t._e = [];
    t.ready = function(f) {
      t._e.push(f);
    };

    return t;
  }(document, "script", "twitter-wjs"));


  function clickEventToAnalytics (intentEvent) {
    if (!intentEvent) return;
    var label = intentEvent.region;
    analytics.track('Share', {category: 'Translated Page',label: 'Twitter'});
    analytics.track('Shared', {category: 'Twitter',label: '{{ translationId }}'});
    analytics.track('Click', {category: 'Social',label: 'Twitter Share Button', value: {{ totalTranslations }} }); // new format
    analytics.page({title: 'Funnel: Clicked Social',path: '/funnel/social/twitter/clicked'});
  }

  // Wait for the asynchronous resources to load
  // Then track any click event to the share button
  twttr.ready(function (twttr) {
    twttr.events.bind('click', clickEventToAnalytics);
  });

</script>



{% endblock %}
