<style>
body { 
    margin: 0;
    background-image: url(/img/obi.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #080808;
}
img {
    position: absolute;
    bottom: 0;
    width: 100%;
}

</style>

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>This is not the page you're looking for</title>

    {% include "partials/analytics.html" %} 
    {% include "partials/meta.html" %}
    {% include "partials/favicons.html" %}
	
  </head>
  <body>
    <img src="/img/chewy_banner_ad2.jpg" />
  </body>

</html>



